<div class="col-md-6 info">
  <h3><b>{{i18n 'admin.backup.info.title'}}</b></h3>

  <table class="tbl">
    <tr>
      <td>
        <h5><b>{{i18n 'admin.backup.info.name'}}</b></h5></td>
      <td>{{name}}</td>
    </tr>

    <tr>
      <td>
        <h5><b>{{i18n 'admin.backup.info.region'}}</b></h5></td>
      <td>{{region}}</td>
    </tr>

    <tr>
      <td>
        <h5><b>{{i18n 'admin.backup.info.size'}}</b></h5></td>
      <td>{{size}}</td>
    </tr>

  </table>
</div>
<div class="col-md-6 info">
  <br>

  <table class="tbl">
    <tr>
      <td>
        <h5><b>{{i18n 'admin.backup.info.owner'}}</b></h5></td>
      <td>{{accountId}}</td>
    </tr>

    <tr>
      <td>
        <h5><b>{{i18n 'admin.backup.info.created_at'}}</b></h5></td>
      <td>{{createdAt}}</td>
    </tr>
    <tr>
      <td>
        <h5><b>{{i18n 'admin.backup.info.status'}}</b></h5></td>
      <td>{{status}}</td>
    </tr>


  </table>
</div>
