<td>
  {{d-checkbox checked=checked change="changeSharedPreference"  }}
{{user.name.first_name}}</td>
<td>{{user.email}}</td>
<td>{{user.states.authority}}</td>
<td>{{user.states.active}}</td>
<td>{{user.dates.created_at}}</td>
