<td class="value">{{rawimage.id}}</td>
<td class="value">{{rawimage.name}}</td>
<td class="value">{{rawimage.created_at}}</td>
<td class="value">{{rawimage.status}}</td>
<td class="value">{{rawimageRegion}}</td>
