
    <div class="tl-item float-right">
        <div class="tl-icon bg-{{status}}">
            <i class="glyph-icon icon-toggle-on"></i>
        </div>
        <div class="popover right">
            <div class="arrow"></div>
            <div class="popover-content">
                <div class="tl-label bs-label label-{{status}}">{{status}}</div>
                <p class="tl-content">{{x}}</p>
                <p class="tl-content"><i class="glyphicon glyphicon-user"> {{email}}</i></p>

                <div class="tl-time" style="font-size: 13px;">
                    <i class="glyphicon glyphicon-time"></i> {{set_data}}
                </div>
            </div>
        </div>
    </div>
