<div class="table-left-h">
    <table class='table report sort-icon-mix' style="border: 1px solid #decdde;">
        <tr>
            <th {{action "sortBy" "name"}}>{{i18n 'admin.dashboard.snapshots.name'}}<span class="glyphicon glyphicon-sort"></span></th>
            <th {{action "sortBy" "account_id"}}>{{i18n 'admin.dashboard.snapshots.account_id'}}<span class="glyphicon glyphicon-sort"></span></th>
            <th>{{i18n 'admin.dashboard.snapshots.type'}}</th>
            <th {{action "sortBy" "status"}}>{{i18n 'admin.dashboard.snapshots.status'}}<span class="glyphicon glyphicon-sort"></span></th>
            <th {{action "sortBy" "number_of_hours"}}>{{i18n 'admin.dashboard.snapshots.number_of_hours'}}<span class="glyphicon glyphicon-sort"></span></th>
            <th {{action "sortBy" "created_at"}}>{{i18n 'admin.dashboard.snapshots.created_at'}}<span class="glyphicon glyphicon-sort"></span></th>
            <th>{{i18n 'admin.dashboard.snapshots.action'}}</th>
        </tr>
        {{#each reportSnapshot as |row|}}
            {{report-snapshot refreshAfterAction="refreshAfterDelete" row=row}}
        {{/each}}
    </table>
    {{#if showWhenEmpty}}
        <span class="pull-left no-record-msg">{{i18n 'admin.dashboard.launches.message_no_record'}}</span>
    {{/if}}
</div>
