{{row.name}}
<!-- future purpose -->
<!-- {{#link-to "adminReports.show"  row.id (query-params id=row.id account_id=row.account_id )  }} -->
<!-- {{/link-to}} -->
<td>{{row.account_id}}</td>
<td>{{row.type}}</td>
<td>{{row.status}}</td>
<td>{{row.number_of_hours}}</td>
<td>{{row.created_at}}</td>
<td>
    {{#conditional-loading-spinner condition=deletingMachine size="large" }}
        {{d-button action="delete" title="admin.dashboard.launches.delete_title" class="btn-danger btn_space_del" icon="trash"}}
    {{/conditional-loading-spinner}}
</td>
<div id="snackbar" class= {{NotDeleted}}><span class="glyphicon glyphicon-warning-sign" style="right:5px;"></span>{{i18n 'admin.dashboard.launches.not_deleted'}}</div>
