<td>{{h.id}}</td>
<td class="set_title">{{h.name}}</td>
<td><i class="c_icon-calendar"></i> {{h.created_at}}</td>
<td>{{h.status}}</td>
<td>
  <button type="button" class="btn-danger btn_space_del btn no-text" {{action "removeBackup"}} title={{btnTitle}}>
<span class="glyphicon glyphicon-trash"></span>
</button>
</td>
