<div class="box-resources">
    <div class="left-resources">
        <strong>RAM</strong> {{fmemory}}{{i18n 'number.human.storage_units.units.gb'}}
        <span></span>
    </div>
    <div class="middle-resources">
        <strong>STORAGE (SSD)</strong> {{fstorage}}{{i18n 'number.human.storage_units.units.gb'}}
        <span></span>
    </div>
    <div class="right-resources">
        <strong>CPU</strong> {{fcpu}}{{i18n 'number.human.storage_units.units.core'}}
    </div>
    <div class="left-resources">
        <strong>BANDWIDTH</strong> 10 TB
        <span></span>
    </div>
    <div class="middle-resources">
        <strong>VM Limit</strong> 1
        <span></span>
    </div>
    <div class="right-resources">
        <strong>IPv4 Limit</strong> 1
    </div>
  </div>
