{{#if showPassword}}
<div class="row">
    <h3 class="head_paint">{{i18n 'launcher.bitnamiPassword_title'}}</h3>
    <div class="bottom-divider"></div>
</div>
<div class="row" style="margin-top: 20px;">
    <div class="col-md-6">
        <div class="form-group">
            <h6 class="fd_600">{{enterPassword}}</h6>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            {{text-field type="password" value=bitPassword placeholderKey="launcher.bitnamiPassword" class ="form-control f_height_h32"}}
            {{#if failed}}
            <h6 class="fd_bad">{{passwordInstructions}}</h6>
            {{else}}
            <h6 class="fd_good">{{passwordCorrect}}</h6>
            {{/if}}
        </div>

    </div>
</div>
{{/if}}
