<section class="step3">
    {{launching-networks category=category networks=networks}}

    {{launching-ssh-chooser sshFrequencies=sshFrequencies category=category}}

    {{bitnami-password-chooser category=category}}

    {{launching-summary-show category=category}}

    {{launching-duplicates-chooser duplicateable=duplicateOption category=category}}

</section>
