<div class="rInner middle">
    <div class="rBox shorter">
        <div class="rHead">
            {{#if quotaProduct}}
                <div class="rTitle purchased">
                 <span style="margin-left: -2px;"><i class="glyphicon glyphicon-ok-sign" style="color: #795548;"></i></span>
                    <span><b>{{flavorName}}</b></span>
                    <span style="font-size:12px;color: black;">
                    {{i18n 'launcher.purchased'}} <b>{{quotasCount}}</b></span>
                </div>
            {{else}}
                <div class="rTitle">
                    <span><b>{{flavorName}}</b></span>
                </div>
            {{/if}}
            <div class="rContent">
                <p>
                    <span><b>{{fmemory}} {{i18n 'number.human.storage_units.units.gb'}}</b></span> {{i18n 'launcher.launching_memory'}}
                    <br>
                    <span><b>{{fcpu}} {{i18n 'launcher.launching_Core'}}</b></span> {{i18n 'launcher.launching_cpu'}}
                    <br>
                    <span><b>{{fstorage}} {{i18n 'number.human.storage_units.units.gb'}}</b></span> {{i18n 'launcher.launching_storage'}}
                    <br>
                </p>
            </div>
        </div>
        <div class="rFooter">
            {{launching-flavor-chooser name=flavorName flavourable=flavourable}}
        </div>
    </div>
</div>
