<div class="col-md-4 pad_0">
      <div class="lInner middle">
        <div class="lBox-{{enabledRegion}}">
            <div class="lHead">
                <div class="lIcon-{{enabledRegion}}">
                     <img alt="" class="roundFlag" src= {{regionFlag}}>
                    <h4 style="margin-top: 5px;"><b>{{regionName}}</b></h4>
                </div>
            </div>
            <div class="lFooter-{{enabledRegion}}">
                {{launching-region-chooser name=regionName regionable=regionable enabledRegion =enabledRegion}}
            </div>
        </div>
    </div>
</div>
