<td>{{h.id}}</td>
<td class="set_title">{{h.name}}</td>
<td><i class="c_icon-calendar"></i> {{h.created_at}}</td>
<td>{{h.status}}</td>
<td><button type="button" class="btn btn-danger del-btn-snap btn_allign" {{action "removeSnapshot"}} title= {{btnTitle}}>
                    <span class="glyphicon glyphicon-trash"></span>
                </button>
    <button type="button" class="btn btn-success del-btn-snap btn_allign" {{action "restoreSnapshot"}} title= {{btnsTitle}}>
                    <span class="glyphicon glyphicon-retweet"></span>
                </button>
</td>
