<div class="col-xs-12 col-sm-6 col-md-3 app_cover my_bucket_inner">
    <div class="app_inner">
        <div class="app">
            <div class="app_head">
                <div class="row app_icon">
                    <h5>
                      {{storage-bucket-link bucket}}
                    </h5>
                    <h6>
                     {{total_size}}
                   </h6>
                </div>
            </div>
            <div class="app_footer">
                <span>
                   {{text_total_objects}}&nbsp;-&nbsp;
                   {{ bucket.count }}
                   <a href {{action "destroy"}}>
                       <i class="c_icon-trash pull-right"></i>
                       <span class="pull-right">
                             {{conditional-loading-spinner condition=showDestroySpinner }}
                       </span>
                   </a>
                 </span>
            </div>
        </div>
    </div>
</div>
