  <dl>
    <h3>{{textUsage}}</h3>
    <dt>
      {{textTotalStorage}}
    </dt>
    <dd>
    {{totalStorage}}
    </dd>
    <dt class="margin-top-20"></dt>
    <dt>
      {{textTotalBuckets}}
    </dt>
    <dd>
      {{totalBuckets}}
    </dd>
    <dt class="margin-top-20"></dt>
    <h3>{{textBilling}}</h3>
    <dt>
      {{textLastBilledAmount}}
    </dt>
    <dd>
      0
    </dd>
    <dt class="margin-top-20"></dt>
    <dt>
      {{textCurrentDue}}
    </dt>
    <dd>
      0
    </dd>
    <dt class="margin-top-20"></dt>
    <dt>
      {{textRegion}}
    </dt>
    <dd>
<!--      <%= image_tag "flag_IN.png", :alt => "flag" %> INDIA -->
    </dd>
  </dl>
